<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xinill.ttms.mapper.IStudioMapper">   <!--namespace必须为接口的全类名-->
    <!--开启缓存-->
    <cache/>

    <insert id="insert">
        INSERT INTO ttms.studio(studio_name, studio_row_count, studio_col_count)
        VALUES(#{name}, #{row}, #{col});
    </insert>

    <select id="findIdByName" parameterType="string" resultType="_int">
        SELECT studio_id
        FROM ttms.studio
        WHERE studio_name = #{name};
    </select>

    <delete id="deleteByStudioId" parameterType="_int">
        DELETE FROM ttms.studio
        WHERE studio_id = #{studioId};
    </delete>

    <select id="findAllStudio" resultMap="studio">
        SELECT *
        FROM ttms.studio;
    </select>

    <select id="findStudio" resultMap="studio">
        SELECT *
        FROM ttms.studio
        WHERE studio_id = #{studioId};
    </select>

    <update id="modifyStudio">
        UPDATE ttms.studio
        SET studio_name = #{name},
            studio_row_count = #{row},
            studio_col_count = #{col},
            studio_status = #{status}
        WHERE studio_id = #{id};
    </update>

    <resultMap id="studio" type="cn.xinill.ttms.po.Studio">
        <id property="id" column="studio_id"/>
        <result property="name" column="studio_name"/>
        <result property="row" column="studio_row_count"/>
        <result property="col" column="studio_col_count"/>
        <result property="status" column="studio_status"/>
    </resultMap>

</mapper>