<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xinill.ttms.mapper.IUserMapper">   <!--namespace必须为接口的全类名-->

    <!--开启缓存-->
    <cache/>

    <select id="findUserByPhone" parameterType="string" resultMap="user">
        SELECT * FROM ttms.user WHERE phone = #{phone};
    </select>

    <!--    增加用户信息。-->
    <insert id="insertUser" parameterType="user">
        INSERT INTO ttms.user(phone) VALUES(#{phone});
    </insert>

    <select id="findUserByUid" parameterType="_int" resultMap="user">
        SELECT * FROM ttms.user WHERE user_id = #{userId};
    </select>

    <update id="updateUserInform" parameterType="user">
        UPDATE ttms.user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="portrait != null">
                portrait = #{portrait},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="introduce != null">
                introduce = #{introduce}
            </if>
            <if test="balance != null">
                balance = #{balance}
            </if>
        </set>
        WHERE user_id = #{userId};
    </update>

    <resultMap id="user" type="cn.xinill.ttms.po.User">
        <id property="userId" column="user_id"/>
        <result property="phone" column="phone"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="portrait" column="portrait"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
        <result property="introduce" column="introduce"/>
        <result property="balance" column="balance"/>
    </resultMap>
</mapper>


